.footer-frame {
    position: fixed;
    width: 100%;
    height: 175px;
    bottom: 0px;
    z-index: 99;
    background-color:white;

    .compare-to-baseline {
        position: fixed;
        bottom: 75px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        z-index: 99;

        .compare-button {
            margin-top: 40%;
            min-width:6EM;
            width: 80%;
        }
    }
}

.footer-master {
    position: fixed;
    height: 175px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 15px solid var(--primary);

    .baseline-player-card-frame {
        position: relative;
        height: 100%;
        width: 40%;
        border: 15px solid var(--primary);

        @media screen and (max-width: 800px) {
            width:105px;
        }

        .baseline-section {
            @media screen and (max-width: 800px) {
                display: none;
            }
        }

        &:before, &:after {
            content: '';
        }

        &:before {
            position: absolute;
            top: 0;
            z-index: 8;

            border-top: 45px solid var(--primary);
        }

        &:after {
            position: absolute;
            top: 0;
            z-index: 5;
            border-top: 47px solid rgb(0, 0, 0);
        }

        .team-image {
            position: absolute;
            z-index: 15;
            top: 0px;
            height: 2.5EM;
        }

        .player-image {
            position: absolute;
            top: 0;
            z-index: 2;
            height: 90%;
            border: 2px rgb(0, 0, 0) solid;
        }

        .player-name {
            width: 99.25%;
            left: 20px;
            text-align: center;
            height: 15px;
            background: var(--secondary);
            border: 2px rgb(0, 0, 0) solid;
            z-index: 10;

            .player-name-container {
                position: relative;
                bottom: 2.5px;
                margin-left: 15px;
                margin-right: 15px;
                font-size: 10px;
            }
        }

        .stats-table {
            display: table;
            border: 1px solid #ccc;
            border-spacing: 0;
            width: 80%;
        }
    }
}

.footer-left {
    .baseline-player-card-frame {
        float: left;

        &:before {
            left: 0;
        }

        &:after {
            left: 0;
        }

        &:before {
            border-right: 45px solid transparent;
        }

        &:after {
            border-right: 47px solid transparent;
        }

        .baseline-portrait {
            float: left;
        }

        .team-image {
            left: 0.50EM;
        }

        .player-image {
            left: 0;
        }

        .stats-table {
            margin-left: 20%;
        }
    }
}

.footer-right {
    .baseline-player-card-frame {
        float: right;

        &:before {
            right: 0;
        }

        &:after {
            right: 0;
        }

        &:before {
            border-left: 45px solid transparent;
        }

        &:after {
            border-left: 47px solid transparent;
        }

        .baseline-portrait {
            float: right;
        }

        .team-image {
            right: 0.50EM;
        }

        .player-image {
            right: 0;
        }

        .stats-table {
            margin-right: 20%;
        }
    }
}
