.player-search {
    display: block;
    position: relative;
    padding-top: 1EM;
    border-bottom: 2px solid;
    height: 4EM;

    .player-search-input {
        line-height: 1.5EM;
        padding: 8px;
        width: 35EM;
    }
}

.clear-data {
    margin-left: 10px;
    height: 40px;
    padding-top: 14px;
    top: 2px;
}

.about-link {
    float: right;
    margin-right: 8px;
    margin-top: 8px;
}
