.player-card {
    padding-top:1.5EM;
    padding-left:2EM;
    height: 300px;



    .set-baseline {
        margin-top:5px;
        width: 8.3EM;
        font-size: 14px;
        height: 3EM;
        position: relative;
        display: block;
        clear: both;
        padding: 8px 8px;
    }
}

.player-card-frame {
    position: relative;
    height: 150px;
    width: 100px;
    border: 7.5px solid var(--primary);
    float: left;
    margin-bottom: 1EM;

    &:before, &:after {
        content: '';
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 8;

        border-top: 22.5px solid var(--primary);
        border-right: 22.5px solid transparent;
    }

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        border-top: 23.5px solid rgb(0, 0, 0);
        border-right: 23.5px solid transparent;
    }

    .team-image {
        position: absolute;
        z-index: 15;
        left: 0.25EM;
        height: 1.25EM;
    }

    .player-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 146px;
        width: 96px;
        border: 2px rgb(0, 0, 0) solid;

    }

    .player-name {
        position: absolute;
        bottom: -10px;
        right: 0;
        width: 66%;
        text-align: center;
        font-size: 100%;
        height:30px;
        background: var(--secondary);
        border: 2px rgb(0, 0, 0) solid;
        z-index: 10;

        &:before, &:after {
            content: '';
        }

        &:before {
            position: absolute;
            bottom: 32px;
            right: -2px;
            z-index: 18;
            border-bottom: 15px solid var(--primary);
            border-left: 15px solid transparent;
        }

        &:after {
            position: absolute;
            bottom: 32px;
            right: -2px;
            z-index: 15;
            border-bottom: 17px solid rgb(0, 0, 0);
            border-left: 17px solid transparent;
        }

        .player-name-container {
            position: relative;
            top: 20%;
        }
    }
}

.query-builder {
    width: 45%;
}

.query-attributes {
    display: block;
    position: relative;
    padding-top: 1EM;
    padding-left: 5EM;
    margin-left: auto;
    margin-right:auto;
    /*height: 2EM;*/
    /*width: 15EM;*/
}

/*.col-three {*/
/*    columns: 3;*/
/*}*/

#baseline-tooltip {
    z-index: 99;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height:300px;
}
