.team-portrait {
    display: inline-block;

    .team-portrait-image {
        width: 3.75EM;
        border: 0.25EM solid #555;
        float: left;
    }

    .team-info {
        background-color: white;
        opacity: 1;
        width: 25EM;
        float: left;
        border: 0.25EM solid #555;
        height: 6EM;

        .team-name {
            padding-top: 1.5EM;
        }
    }

    :hover {
        background-color: #45818c;
    }
}

